<%= form_for(@event) do |form| %>
  <%= render partial: "partials/form_errors", locals: { model: @event } %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :datetime %>
    <%= form.text_field :datetime, class: "datepicker-here form-control", timepicker: true %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="action">
    <%= form.submit t('.save'), class: "btn btn-primary" %> или <%= link_to t('.back'), :back %>
  </div>

<% end %>
