<h1><%= t('.pin-only_access') %></h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label t('.pincode'), :pincode %>
    <%= text_field_tag :pincode, params[:pincode], class: "form-control" %>
  </div>

  <div class="actions">
  <%= submit_tag t('.send'), class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to t('.back'), events_path %>
